:root {
  --primary-color: #e40006;
  --secondary-color: #720003;
  --background-color: #f1f1f1;
  --card-background-color: #ffffff;
  --border-color: #333333;
  --shadow-color: var(--border-color);
  --size-bezel: 0.5rem;
  --size-radius: 5px;

  line-height: 1.5;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--background-color);
}

header .logo {
  margin-top: 2rem;
  width: 100px;
}

h2,
h3 {
  color: var(--primary-color);
}

.card-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin: 0 2rem;
  padding: 2rem;
}

.card {
  flex: 0 0 auto;
  width: 80%;
  max-width: 300px;
  padding: 2rem;
  background: var(--card-background-color);
  border: 3px solid var(--border-color);
  border-radius: var(--size-radius);
  box-shadow: 0.5rem 0.5rem 0 var(--shadow-color);
  text-align: center;
  outline: none;
  user-select: none;
  touch-action: manipulation;
  scroll-snap-align: start;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card img {
  margin-bottom: 0.5rem;
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
}

.card:focus,
.card:active {
  transform: scale(1.02);
  box-shadow: 0.1rem 0.1rem 0 var(--shadow-color);
}

.card .title {
  height: 50px;
}

@media (min-width: 768px) {
  .card-container {
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: hidden;
  }

  .card {
    flex: 1 1 calc(33.333% - 40px);
    max-width: none;
    width: 100vw;
  }

  .card-container .card.dim {
    opacity: 0.5;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  border: 3px solid var(--border-color);
  border-radius: 8px;
  padding: 2rem;
  margin: 1rem;
  width: 26em;
  box-shadow: 0.5rem 0.5rem 0 var(--shadow-color);
  text-align: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #333;
}

.hidden {
  display: none;
}

.user-form {
  label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }

  .input {
    position: relative;
    margin-bottom: 0.8rem;

    .input_label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
      margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
      background: var(--background-color);
      transform: translate(0, 0);
      transform-origin: 0 0;
      font-weight: bold;
      line-height: 1;
      transition: transform 0.1s ease-in;
    }

    .input_field {
      display: block;
      width: 100%;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      border: 3px solid var(--border-color);
      border-radius: var(--size-radius);
      background: transparent;
    }

    .input_field:focus + .input_label,
    .input_field:not(:placeholder-shown) + .input_label {
      transform: translate(0.25rem, -65%) scale(0.8);
      color: var(--primary-color);
    }
  }

  button[type="submit"] {
    background: var(--primary-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  button[type="submit"]:hover {
    background: var(--secondary-color);
  }
}
